// FONTS
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto.ttf);
}

@font-face {
    font-family: "Sansita";
    src: url(/fonts/Sansita-Regular.ttf);
}

@font-face {
    font-family: "Sansita Bold";
    src: url(/fonts/Sansita-Bold.ttf);
}

@font-face {
    font-family: "TenorSans";
    src: url(/fonts/TenorSans-Regular.ttf);
}
// COLOURS
$color-dark: #151514;
$color-light: #f5f5f5;
$color-orange: #e75512;
$color-beige-orange: #ffb168;
$color-beige: #f5e9d4;
$color-gray: #5f5f5f;
$color-light-gray: #999999;
// MIXINS
@mixin container {
    max-width: 1300px;
    margin: 0 auto;
}

@mixin h2 {
    font-family: "TenorSans", sans-serif;
    font-size: 56px;
    text-transform: uppercase;
}

@mixin h3 {
    font-family: "Sansita", sans-serif;
    font-size: 48px;
    color: $color-orange;
}

@mixin h4 {
    text-transform: uppercase;
    color: $color-gray;
    font-size: 20px;
    font-family: "TenorSans", sans-serif;
    line-height: 24px;
}

@mixin main-btn {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    color: $color-orange;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.6s ease;
    .arrow-right-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-orange;
        width: 24px;
        height: 24px;
        border-radius: 20px;
    }
}

@mixin main-btn-hover {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    color: $color-dark;
    cursor: pointer;
    .arrow-right-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-dark;
        width: 24px;
        height: 24px;
        border-radius: 20px;
    }
}

@mixin main-btn-focus {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    color: $color-orange;
    transition: all 0.3s;
    .arrow-right-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-dark;
        width: 24px;
        height: 24px;
        border-radius: 20px;
    }
}

@mixin btn-request {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: $color-orange;
    border-radius: 40px;
    padding: 5px 10px 5px 5px;
    color: $color-light;
    font-size: 16px;
    cursor: pointer;
    .arrow-right-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-light;
        width: 32px;
        height: 32px;
        border-radius: 20px;
    }
}

@mixin header-container {
    .container {
        max-width: 1300px;
        margin: 0 auto;
        .header-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 0;
            .logo-n-navigation {
                display: flex;
                flex-direction: row;
                gap: 45px;
                align-items: center;
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 40px;
                    }
                }
            }
            .header-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 24px;
                .phone-link {
                    width: 40px;
                    height: 40px;
                }
                .leave-request {
                    @include btn-request;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-304px * 5));
    }
}

//

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    li a {
        text-decoration: none;
        color: rgb(18, 18, 18);
        font-size: 16px;
    }
    li a:hover {
        transition: 0.2s;
        color: $color-orange;
    }
}

body {
    color: rgb(18, 18, 18);
    background-color: $color-light;
    font-family: "Roboto", sans-serif;
    .header-desktop {
        background-color: $color-beige;
        @include header-container;
    }
    .header-laptop {
        display: none;
        background-color: $color-light;
        @include header-container;
    }
    .header-mobile {
        display: none;
        background-color: $color-light;
        @include header-container;
        .menu-more-mobile {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-beige;
            z-index: 12;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            ul {
                position: absolute;
                top: 44px;
                left: 16px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                li a {
                    font-size: 20px;
                    color: $color-dark;
                    text-transform: uppercase;
                }
                li a:active {
                    color: $color-orange;
                }
            }
            .close-menu {
                position: absolute;
                top: 24px;
                right: 24px;
            }
        }
        .menu-more-mobile.active {
            display: flex;
        }
    }
    main {
        scroll-behavior: smooth;
        .promo {
            position: relative;
            padding: 0 0 100px;
            .container {
                max-width: 1440px;
                margin: 0 auto;
                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin: 260px 0 120px;
                    h1 {
                        font-family: "Sansita Bold", sans-serif;
                        font-size: 160px;
                        max-width: 367px;
                        text-align: center;
                        line-height: 76%;
                    }
                    p {
                        font-family: "TenorSans", sans-serif;
                        font-size: 35px;
                    }
                    .promo-animation.hand1 {
                        display: none;
                    }
                }
                .title-sand {
                    position: absolute;
                    top: -160px;
                    left: 352px;
                    z-index: -1;
                }
                .wave {
                    display: flex;
                    justify-content: end;
                }
                .scroll-btn {
                    position: absolute;
                    left: 700px;
                    top: 530px;
                    background-color: $color-orange;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    width: 48px;
                    height: 48px;
                    border-radius: 25px;
                    animation: blinking 2.3s infinite;
                    z-index: 10;
                    @keyframes blinking {
                        0% {
                            background-color: $color-orange;
                        }
                        50% {
                            background-color: #e2d8d3;
                        }
                        100% {
                            background-color: $color-orange;
                        }
                    }
                }
            }
        }
        .sand-show {
            position: relative;
            // background-color: $color-beige;
            background-image: url(/images/BgWave1.png);
            padding: 400px 0 120px 0;
            .container {
                @include container;
                .sand-headtitle {
                    position: absolute;
                    top: 360px;
                    left: 30px;
                }
                .sand-show-info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 60px;
                    .sand-show-title {
                        h2 {
                            @include h2;
                            z-index: 2;
                            position: relative;
                        }
                        .h2-second {
                            margin-left: 285px;
                        }
                    }
                    .sand-show-desc {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 63px;
                        p {
                            max-width: 515px;
                        }
                        .leave-request {
                            @include btn-request;
                            margin-left: 150px;
                        }
                    }
                }
                .advantages {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 150px;
                    margin-bottom: 60px;
                    justify-content: space-evenly;
                    .advantage {
                        max-width: 204px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        align-items: center;
                        justify-content: center;
                        h3 {
                            @include h3;
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                    }
                    .advantages-separator {
                        width: 1px;
                        height: 70px;
                        background-color: $color-orange;
                        gap: 150px;
                        justify-content: center;
                    }
                }
                .slider-wrap {
                    height: 420px;
                    margin: auto;
                    position: relative;
                    width: 100%;
                    display: grid;
                    place-items: center;
                    overflow: hidden;
                    .slider-bar {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 32px;
                        width: calc(304px * 10);
                        animation: scroll 40s linear infinite;
                        .slide {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            align-items: flex-start;
                            img {
                                width: 305px;
                                height: 305px;
                                transition: transform 1s;
                                object-fit: cover;
                            }
                            .slide-name {
                                @include h4;
                            }
                        }
                        .slide:hover {
                            img {
                                height: 385px;
                                transition: all 1.3s;
                            }
                            .slide-name {
                                font-size: 24px;
                            }
                        }
                    }
                    .slider-bar:hover {
                        animation-play-state: paused;
                    }
                    .slider-arrows {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        position: relative;
                        .button {
                            width: 54px;
                            height: 54px;
                            border: none;
                            border-radius: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            cursor: pointer;
                        }
                        .button.prev {
                            bottom: 10px;
                            right: 1460px;
                            top: 440px;
                            background-color: $color-light;
                        }
                        .button.next {
                            background-color: $color-dark;
                            right: 160px;
                            top: 440px;
                            justify-content: normal;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
        .activities {
            padding: 120px 0;
            position: relative;
            .container {
                @include container;
                h2 {
                    @include h2;
                    margin-bottom: 60px;
                }
                .activities-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 528px);
                    grid-template-rows: repeat(3, 80px);
                    justify-content: space-around;
                    row-gap: 40px;
                    .activity {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 24px;
                        position: relative;
                        .activity-icon-wrap {
                            background-color: $color-beige;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50px;
                            position: relative;
                            padding: 20px;
                            .activities-icon {
                                transition: all 0.6s ease;
                            }
                            .activities-icon.before {
                                display: block;
                                opacity: 1;
                            }
                            .activities-icon.after {
                                position: absolute;
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                        .activity-info {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 10px;
                            max-width: 520px;
                            .activity-name {
                                @include h4;
                                color: $color-dark;
                            }
                            .activity-desc {
                                color: $color-gray;
                            }
                        }
                    }
                    .activity:hover .activities-icon.after {
                        opacity: 1;
                        visibility: visible;
                    }
                    .activity:hover .activities-icon.before {
                        opacity: 0;
                    }
                }
            }
            .hand-4 {
                position: absolute;
                bottom: -300px;
                z-index: 2;
            }
        }
        .services {
            padding: 240px 0 170px;
            position: relative;
            background-image: url(/images/BG\ Volna.png);
            .container {
                @include container;
                .sand-headtitle.second {
                    position: absolute;
                    top: 190px;
                    left: 30px;
                }
                h2 {
                    @include h2;
                    margin-bottom: 60px;
                }
                .services-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 640px);
                    grid-template-rows: repeat(2, 1fr);
                    row-gap: 25px;
                    column-gap: 32px;
                    .service {
                        &:hover {
                            .service-btn {
                                @include main-btn-hover;
                            }
                        }
                        &:focus {
                            .service-btn {
                                @include main-btn-focus;
                            }
                        }
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 12px;
                        width: 617px;
                        height: 232px;
                        border-bottom: 1px solid $color-light-gray;
                        border-top: 1px solid $color-light-gray;
                        text-decoration: none;
                        .service-info {
                            margin-top: 24px;
                            padding-left: 24px;
                            display: flex;
                            flex-direction: column;
                            align-items: baseline;
                            height: 100%;
                            .service-desc {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                height: 70%;
                                h4 {
                                    @include h4;
                                    color: $color-dark;
                                }
                                p {
                                    color: $color-gray;
                                }
                            }
                        }
                        .service-btn {
                            @include main-btn;
                            .arrow-right-btn {
                                width: 24px;
                                height: 24px;
                            }
                            &:focus {
                                @include main-btn-focus;
                            }
                        }
                        .service-img {
                            height: 234px;
                            img {
                                width: 324px;
                                height: 234px;
                            }
                        }
                    }
                    .service:hover .main-btn {
                        transition: all 0.6s;
                        @include main-btn-hover;
                    }
                    .service:focus .main-btn {
                        transition: all 0.6s;
                        @include main-btn-focus;
                    }
                }
            }
        }
        .author {
            position: relative;
            padding: 130px 0;
            overflow: hidden;
            .wave {
                z-index: 11;
                position: absolute;
                transform: rotate(180deg);
            }
            .container {
                @include container;
                .author-info-wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 60px;
                    .author-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 40px;
                        h2 {
                            @include h2;
                        }
                        .author-info-title {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .author-info-desc {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            max-width: 740px;
                            gap: 24px;
                            color: $color-gray;
                        }
                    }
                }
                .accordion {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .accordion-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        min-height: 64px;
                        border-bottom: 1px solid #999999;
                        .accordion-header {
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            min-height: 64px;
                            .accordion-item-info {
                                width: 97%;
                                display: grid;
                                grid-template-columns: 601px 601px 20px;
                                justify-content: space-between;
                                align-items: center;
                                .accordion-title {
                                    @include h4;
                                    max-width: 83%;
                                }
                                .accordion-desc {
                                    display: block;
                                }
                                .accordion-desc-year {
                                    display: none;
                                }
                                .year {
                                    display: flex;
                                    justify-content: end;
                                }
                                .accordion-desc-wrap {
                                    width: 28%;
                                }
                            }
                            .accordion-btn {
                                background: none;
                                border: none;
                                cursor: pointer;
                                transition: transform 0.3s ease;
                            }
                            .accordion-btn.default {
                                display: block;
                            }
                            .accordion-btn.active {
                                display: none;
                            }
                        }
                        .accordion-body {
                            overflow: hidden;
                            transition:
                                max-height 0.3s ease,
                                opacity 0.3s ease;
                            max-height: 0;
                            opacity: 0;
                            .slider {
                                position: relative;
                                width: 100%;
                                overflow: hidden;
                                margin-top: 20px;
                                height: 344px;
                                .slider-container {
                                    display: flex;
                                    transition: transform 0.3s ease;
                                    .slider-slide {
                                        min-width: 100%;
                                        flex-shrink: 0;
                                        display: flex;
                                        gap: 15px;
                                        padding: 0 10px;
                                        box-sizing: border-box;
                                        img {
                                            flex: 1;
                                            height: 306px;
                                            object-fit: cover;
                                            width: calc(33.333% - 10px);
                                        }
                                    }
                                }
                                .slider-controls {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 12px;
                                    gap: 30px;
                                    .slider-arrow {
                                        width: 40px;
                                        height: 40px;
                                        background: none;
                                        border: none;
                                        cursor: pointer;
                                        padding: 8px;
                                        transition: transform 0.3s ease;
                                        border-radius: 50%;
                                        background-color: rgba(245, 245, 245, 0.8);
                                        svg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                    .slider-arrow:hover {
                                        transform: scale(1.1);
                                    }
                                    .slider-arrow.prev {
                                        position: absolute;
                                        top: 140px;
                                        left: -10px;
                                        svg {
                                            transform: rotate(90deg);
                                        }
                                    }
                                    .slider-arrow.next {
                                        position: absolute;
                                        top: 140px;
                                        right: -10px;
                                        svg {
                                            transform: rotate(-90deg);
                                        }
                                    }
                                    .slider-pagination {
                                        display: flex;
                                        gap: 4px;
                                        .slider-bullet {
                                            width: 6px;
                                            height: 6px;
                                            border-radius: 50%;
                                            background-color: #ddd;
                                            cursor: pointer;
                                            transition:
                                                background-color 0.3s ease,
                                                transform 0.3s ease;
                                        }
                                        .slider-bullet.active {
                                            background-color: $color-orange;
                                            transform: scale(1.2);
                                        }
                                        .slider-bullet:hover {
                                            transform: scale(1.2);
                                        }
                                    }
                                }
                            }
                        }
                        .accordion-body.active {
                            max-height: 500px;
                            opacity: 1;
                        }
                    }
                    .accordion-item:last-of-type {
                        margin-bottom: 32px;
                    }
                    .accordion-item.active {
                        .accordion-btn.default {
                            display: none;
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                        .accordion-btn.active {
                            display: block;
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            .hand-5 {
                display: none;
            }
        }
        .portfolio {
            padding: 0 0 130px 0;
            .container {
                @include container;
                h2 {
                    @include h2;
                }
                .portfolio-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 24px;
                    .content-toggle {
                        display: flex;
                        justify-content: center;
                        .content-toggle-wrap {
                            display: flex;
                            width: 180px;
                            height: 64px;
                            border: 1px solid $color-orange;
                            border-radius: 40px;
                            .toggle-btn {
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                cursor: pointer;
                                transition: all 0.3s ease;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5rem;
                                width: 90px;
                            }
                            .toggle-btn:first-child {
                                border-radius: 40px;
                                border-right: none;
                                svg path {
                                    background-color: $color-orange;
                                }
                            }
                            .toggle-btn:last-child {
                                border-radius: 0 8px 8px 0;
                                border-radius: 40px;
                            }
                            .toggle-btn.active {
                                background: $color-orange;
                            }
                            .toggle-btn.photos {
                                svg path {
                                    fill: $color-orange;
                                }
                            }
                            .toggle-btn.photos.active {
                                svg path {
                                    fill: $color-light;
                                }
                            }
                            .toggle-btn.videos.active {
                                svg path {
                                    fill: $color-light;
                                }
                            }
                            &:has(.toggle-btn.videos.active) {
                                background-color: $color-orange;
                            }
                            // .toggle-btn:hover {
                            //     color: #ffffff;
                            //     background: $color-orange;
                            // }
                        }
                    }
                    .portfolio-nav {
                        border-bottom: 1px solid $color-dark;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        .portfolio-nav-item {
                            padding-bottom: 10px;
                            font-size: 20px;
                            color: $color-dark;
                        }
                        .portfolio-nav-item.active {
                            font-weight: 800;
                            border-bottom: 1px solid $color-dark;
                        }
                    }
                    .portfolio-content {
                        display: none;
                        animation: fadeIn 0.5s ease;
                        .content-type {
                            display: none;
                        }
                    }
                    .portfolio-content.active {
                        display: block;
                        .content-type.active {
                            display: grid;
                            grid-template-columns: repeat(3, 416px);
                            grid-template-rows: repeat(3, 1fr);
                            gap: 32px;
                            max-width: 1300px;
                            .portfolio-item {
                                img {
                                    object-fit: cover;
                                    height: 397px;
                                }
                                iframe {
                                    overflow-y: hidden;
                                    height: 397px;
                                }
                            }
                            .portfolio-item:nth-child(1) {
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 2;
                            }
                            .portfolio-item:nth-child(2) {
                                grid-column-start: 2;
                                grid-column-end: 3;
                                grid-row-start: 1;
                                grid-row-end: 2;
                            }
                            .portfolio-item:nth-child(3) {
                                grid-column-start: 3;
                                grid-column-end: 4;
                                grid-row-start: 1;
                                grid-row-end: 2;
                            }
                            .portfolio-item:nth-child(4) {
                                grid-row: 2;
                                grid-column: 1 / 3;
                                img {
                                    width: 865px;
                                }
                            }
                            .portfolio-item:nth-child(5) {
                                grid-row: 2;
                                grid-column: 3;
                                img {
                                    width: 416px;
                                }
                            }
                            .portfolio-item:nth-child(6) {
                                grid-row: 3;
                                grid-column: 1;
                                img {
                                    width: 416px;
                                }
                            }
                            .portfolio-item:nth-child(7) {
                                grid-row: 3;
                                grid-column: 2 / 4;
                                img {
                                    width: 865px;
                                }
                            }
                        }
                    }
                }
                .btn-show-more-wrap {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .price {
            padding: 0 0 190px 0;
            max-height: 650px;
            .container {
                @include container;
                h2 {
                    @include h2;
                    margin-bottom: 30px;
                }
                .price-wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .price-card {
                        width: 416px;
                        max-height: 470px;
                        background-color: $color-beige;
                        border-radius: 24px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        transition: height 0.3s ease;
                        .tariff {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-radius: 24px 24px 0 0;
                            width: 100%;
                            background-color: $color-beige-orange;
                            padding: 12px 0;
                            h4 {
                                @include h4;
                                color: $color-dark;
                            }
                            p {
                                font-size: 18px;
                            }
                        }
                        .price-card-info {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 14px;
                            padding-left: 46px;
                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 14px;
                                list-style: url(/images/Icons/List.svg);
                            }
                        }
                        .price-card-info.second {
                            margin-bottom: 62px;
                        }
                        .bonus {
                            display: flex;
                            gap: 18px;
                            background-color: $color-light;
                            text-transform: uppercase;
                            font-size: 18px;
                            padding: 8px 0 8px 26px;
                            font-family: "TenorSans", sans-serif;
                        }
                        .requirements {
                            cursor: pointer;
                            transition: max-height 0.3s ease;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 15px 15px 0 15px;
                            border-top: 1px solid $color-gray;
                            p {
                                font-weight: 600;
                            }
                            svg {
                                transition: transform 0.3s ease;
                            }
                        }
                        .requirements-content {
                            max-width: 376px;
                            overflow: hidden;
                            transition: max-height 0.7s ease;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            max-height: 0;
                            p {
                                color: $color-light-gray;
                            }
                        }
                    }
                    .price-card.active {
                        max-height: 630px;
                        .requirements svg {
                            transform: rotate(180deg);
                        }
                        .requirements-content {
                            overflow: visible;
                            max-height: 170px;
                            padding: 0 15px 15px 15px;
                        }
                    }
                }
            }
        }
        .news {
            padding: 0 0 140px 0;
            .container {
                @include container;
                h2 {
                    @include h2;
                    margin-bottom: 40px;
                }
                .news-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 40px;
                    .news-items-wrap {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: 0;
                        transition: grid-template-rows 0.6s ease;
                        column-gap: 28px;
                        row-gap: 48px;
                        .news-item {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;
                            min-height: 410px;
                            overflow: hidden;
                            transition: all 0.4s ease;
                            .news-info {
                                display: flex;
                                flex-direction: column;
                                gap: 6px;
                                .news-date {
                                    color: $color-gray;
                                }
                                .news-name {
                                    font-size: 18px;
                                    font-family: "TenorSans", sans-serif;
                                    text-transform: uppercase;
                                }
                            }
                            .btn-more {
                                @include main-btn();
                            }
                            .btn-more:hover {
                                @include main-btn-hover();
                            }
                            .btn-more:focus {
                                @include main-btn-focus();
                            }
                        }
                        .news-item:nth-child(n + 5) {
                            opacity: 0;
                            transition: all 0.3s ease;
                            overflow: hidden;
                            width: 0;
                            height: 0;
                        }
                    }
                    .news-items-wrap.more {
                        grid-template-rows: auto 1fr;
                        .news-item:nth-child(n + 5) {
                            opacity: 1;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .btn-show-more {
                        justify-content: center;
                    }
                }
            }
        }
        .form {
            padding: 80px 0 50px 0;
            background-image: url(/images/BgWave2.png);
            position: relative;
            background-repeat: no-repeat;
            .container {
                @include container;
                .form-flex {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .form-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 36px;
                        .form-info {
                            display: flex;
                            flex-direction: column;
                            gap: 13px;
                            max-width: 406px;
                            .form-title {
                                position: relative;
                                h2 {
                                    @include h2;
                                    z-index: 2;
                                    position: inherit;
                                }
                                h2:last-of-type {
                                    margin-left: 180px;
                                }
                                img {
                                    position: absolute;
                                    top: 1px;
                                    z-index: 0;
                                }
                            }
                        }
                        form {
                            display: flex;
                            flex-direction: column;
                            gap: 24px;
                            max-width: 414px;
                            .input-group {
                                position: relative;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                input {
                                    width: 414px;
                                    border: none;
                                    background-color: transparent;
                                    border-bottom: 1px solid $color-light-gray;
                                    padding: 12px 0 12px 52px;
                                }
                                input[type="text"],
                                input[type="tel"] {
                                    font-size: 16px;
                                    font-family: "Roboto", sans-serif;
                                }
                                input[type="date"]:not(:focus):invalid::before {
                                    content: "Выберите дату";
                                }
                                input:focus {
                                    border: 1px solid $color-orange;
                                }
                                input:-webkit-autofill,
                                input:-webkit-autofill:hover,
                                input:-webkit-autofill:focus,
                                input:-webkit-autofill:active {
                                    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
                                    -webkit-text-fill-color: inherit !important;
                                    transition: background-color 5000s ease-in-out 0s;
                                }
                                ::placeholder {
                                    font-size: 16px;
                                    font-family: "Roboto", sans-serif;
                                }
                                svg {
                                    position: absolute;
                                    left: 12px;
                                }
                                .custom-select {
                                    border-bottom: 1px solid grey;
                                    select {
                                        border-bottom: 1px solid $color-light-gray;
                                        appearance: none;
                                        background-color: transparent;
                                        padding: 10px;
                                        width: 414px;
                                        height: 40px;
                                        border: none;
                                        color: $color-light-gray;
                                        font-size: 16px;
                                        font-family: "Roboto", sans-serif;
                                        padding-left: 52px;
                                    }
                                }
                            }
                            input[type="date"]::-webkit-calendar-picker-indicator {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                                color: transparent;
                                background: transparent;
                                cursor: pointer;
                            }

                            .form-checkbox {
                                display: flex;
                                gap: 18px;
                                font-size: 14px;
                                padding-left: 18px;
                            }
                        }
                        .btn-send {
                            @include btn-request();
                            max-width: 200px;
                            border: none;
                            height: 40px;
                        }
                    }
                    .form-img {
                        z-index: 2;
                    }
                }
                .head-img {
                    position: absolute;
                    top: 110px;
                    right: 320px;
                    z-index: 3;
                }
                .hand-img {
                    position: absolute;
                    top: 150px;
                    right: 270px;
                    z-index: 1;
                }
            }
        }
        .clients {
            padding: 190px 0;
            .container {
                @include container;
                .clients-title {
                    margin-bottom: 40px;
                    h2 {
                        @include h2;
                    }
                    :last-of-type {
                        margin-left: 160px;
                    }
                }
                .clients-grid {
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    margin-bottom: 40px;
                    img:nth-child(n + 17) {
                        display: none;
                    }
                }
                .btn-show-more {
                    margin: 0 auto;
                }
            }
        }
        .socials {
            background-image: url(/images/BgWave3.png);
            padding: 70px 0 158px 0;
            position: relative;
            margin-bottom: 25px;
            .container {
                @include container;
                .socials-info-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .socials-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 12px;
                        .socials-title {
                            position: relative;
                            h2 {
                                @include h2;
                                color: $color-light;
                            }
                            h2:last-of-type {
                                margin-left: 320px;
                            }
                            img {
                                position: absolute;
                                top: -20px;
                                left: -20px;
                            }
                        }
                        .socials-p {
                            color: $color-light;
                        }
                    }
                    .socials-links {
                        display: flex;
                        gap: 30px;
                    }
                }
                img {
                    position: absolute;
                    right: 0px;
                    top: 20px;
                }
            }
        }
        .main-btn {
            @include main-btn;
            transition: all 0.6s ease;
        }
        .main-btn:hover {
            @include main-btn-hover;
        }
        .main-btn:focus {
            @include main-btn-focus;
        }
        .btn-show-more {
            @include main-btn();
        }
        .btn-show-more:hover {
            @include main-btn-hover();
        }
        .btn-show-more:focus {
            @include main-btn-focus();
        }
    }
    footer {
        background-color: $color-beige;
        padding: 40px 0;
        .container {
            @include container;
            .footer-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo-wrap {
                    display: flex;
                    gap: 70px;
                    align-items: center;
                }
                .footer-nav {
                    ul {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 8px;
                        column-gap: 120px;
                    }
                }
            }
        }
    }
}
