 @media screen and (max-width: 820px) {
  body header {
    display: none;
  }
  body main .container {
    padding: 0 17px !important;
  }
  body main h2 {
    font-size: 40px !important;
  }
  body main .promo .container .title h1 {
    font-size: 140px;
  }
  body main .promo .container .title-sand {
    width: 50%;
    top: -40px;
    left: 200px;
  }
  body main .promo .container .scroll-btn {
    left: 380px;
    top: 360px;
  }
  body main .sand-show {
    padding: 230px 0 120px 0;
    background-size: 100%;
  }
  body main .sand-show .container .sand-headtitle {
    width: 40%;
    top: 190px;
    left: 0px;
  }
  body main .sand-show .container .sand-show-info .sand-show-title .h2-second {
    margin-left: 140px;
  }
  body main .sand-show .container .sand-show-info .sand-show-desc {
    max-width: 400px;
    gap: 40px;
  }
  body main .sand-show .container .sand-show-info .sand-show-desc .leave-request {
    margin-left: 0;
  }
  body main .sand-show .container .advantages {
    gap: 34px;
    margin-bottom: 32px;
  }
  body main .activities .container h2 {
    margin-bottom: 40px;
  }
  body main .activities .container .activities-grid {
    grid-template-columns: repeat(2, 377px);
  }
  body main .activities .container .activities-grid .activity .activity-info {
    max-width: 377px;
  }
  body main .activities .container .activities-grid .activity .activity-icon-wrap {
    padding: 10px;
  }
  body main .activities .container .activities-grid .activity .activity-icon-wrap .activities-icon {
    width: 30px;
    height: 30px;
  }
  body main .activities .hand-4 {
    width: 270px;
    height: 240px;
    bottom: -55px;
    left: -50px;
  }
  body main .services {
    padding: 50px 0 120px;
    background-image: url(/images/BG-Services-820.svg);
  }
  body main .services .container .sand-headtitle.second {
    width: 25%;
    top: 13px;
    left: 0px;
  }
  body main .services .container h2 {
    margin-bottom: 40px;
  }
  body main .services .container .services-grid {
    grid-template-columns: repeat(2, 373px);
    grid-template-rows: repeat(2, 390px);
    row-gap: 24px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    align-items: baseline;
  }
  body main .services .container .services-grid .service {
    width: 373px;
    flex-direction: column-reverse;
    border-top: none;
    height: 390px;
    gap: 0;
  }
  body main .services .container .services-grid .service .service-info {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    justify-content: space-between;
  }
  body main .services .container .services-grid .service .service-info .service-desc p {
    max-width: 86%;
  }
  body main .services .container .services-grid .service .service-info .service-btn {
    margin-bottom: 8px;
    font-size: 14px;
  }
  body main .services .container .services-grid .service .service-img img {
    width: 373px;
  }
  body main .author .container .author-info-wrap {
    margin-bottom: 40px;
  }
  body main .author .container .author-info-wrap .author-info h2:last-of-type {
    margin-left: 160px;
  }
  body main .author .container .author-info-wrap .author-info .author-info-desc {
    max-width: 445px;
  }
  body main .author .container .author-info-wrap .author-img img {
    max-width: 302px;
  }
  body main .author .container .accordion {
    gap: 12px;
  }
  body main .author .container .accordion .accordion-item .accordion-header {
    min-height: 75px;
  }
  body main .author .container .accordion .accordion-item .accordion-header .accordion-item-info {
    justify-content: space-between;
    align-items: self-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  body main .author .container .accordion .accordion-item .accordion-header .accordion-item-info .accordion-title {
    max-width: 100%;
  }
  body main .author .container .accordion .accordion-item .accordion-header .accordion-item-info .accordion-desc {
    display: none;
  }
  body main .author .container .accordion .accordion-item .accordion-header .accordion-item-info .accordion-desc-year {
    display: block;
  }
  body main .author .container .accordion .accordion-item .accordion-header .accordion-item-info .year {
    display: none;
  }
  body main .author .container .accordion .accordion-item .accordion-body .slider {
    height: 283px;
  }
  body main .author .container .accordion .accordion-item .accordion-body .slider .slider-container .slider-slide img {
    max-width: 338px;
    height: 240px;
  }
  body main .author .container .accordion .accordion-item .accordion-body .slider .slider-controls .slider-arrow.prev {
    top: 100px;
    left: -15px;
  }
  body main .author .container .accordion .accordion-item .accordion-body .slider .slider-controls .slider-arrow.next {
    top: 100px;
    right: -15px;
  }
  body main .author .hand-5 {
    display: block;
    position: absolute;
    width: 50%;
    bottom: -124px;
    right: -210px;
  }
  body main .portfolio .container h2 {
    margin-bottom: 40px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active {
    grid-template-columns: repeat(2, 387px);
    grid-template-rows: repeat(4, 280px);
    gap: 12px;
    max-width: 786px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item {
    width: 387px;
    height: 280px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item img {
    width: 387px;
    height: 280px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(4) img {
    width: 387px;
    height: 280px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(5) img {
    width: 387px;
    height: 280px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(6) img {
    width: 387px;
    height: 280px;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(7) img,
  body main .portfolio .container .portfolio-wrap .portfolio-content.active .content-type.active .portfolio-item:nth-child(7) iframe {
    width: 786px;
  }
  body main .price {
    padding: 0 0 130px 0;
    height: 888px;
  }
  body main .price .container .price-wrap {
    display: grid;
    grid-template-columns: repeat(2, 381px);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    width: 786px;
    height: 773px;
  }
  body main .price .container .price-wrap .price-card {
    width: 381px;
  }
  body main .price .container .price-wrap .price-card:nth-child(1) {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  body main .price .container .price-wrap .price-card:nth-child(2) {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  body main .price .container .price-wrap .price-card:last-child {
    height: 315px;
    width: 786px;
    grid-column: 1/2;
    grid-row: 2/2;
  }
  body main .news .container .news-wrap .news-items-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
    height: 470px;
  }
  body main .news .container .news-wrap .news-items-wrap .news-item {
    gap: 14px;
    min-height: 460px;
  }
  body main .news .container .news-wrap .news-items-wrap .news-item .news-info img {
    width: 381px;
  }
  body main .news .container .news-wrap .news-items-wrap .news-item:nth-child(n+3) {
    opacity: 0;
    overflow: hidden;
  }
  body main .news .container .news-wrap .news-items-wrap.more {
    height: 940px;
    grid-template-rows: repeat(2, 1fr);
  }
  body main .news .container .news-wrap .news-items-wrap.more .news-item:nth-child(3),
  body main .news .container .news-wrap .news-items-wrap.more .news-item:nth-child(4) {
    opacity: 1;
  }
  body main .news .container .news-wrap .news-items-wrap.more .news-item:nth-child(n+5) {
    display: none;
  }
  body main .form {
    background-image: url(/images/BgForm-820.png);
  }
  body main .form .container .form-flex {
    flex-direction: column;
  }
  body main .form .container .form-flex .form-wrap {
    height: 930px;
    gap: 25px;
  }
  body main .form .container .form-flex .form-wrap .form-info {
    max-width: 425px;
  }
  body main .form .container .form-flex .form-wrap .form-info .form-title img {
    top: -30px;
  }
  body main .form .container .form-flex .form-wrap form {
    max-width: 789px;
  }
  body main .form .container .form-flex .form-wrap form .input-group input,
  body main .form .container .form-flex .form-wrap form .input-group .custom-select {
    width: 100%;
  }
  body main .form .container .form-flex .form-wrap form .input-group input select,
  body main .form .container .form-flex .form-wrap form .input-group .custom-select select {
    width: 789px;
  }
  body main .form .container .form-flex .form-wrap .btn-send {
    max-width: 100%;
    justify-content: center;
  }
  body main .form .container .form-flex .form-img {
    position: absolute;
  }
  body main .form .container .form-flex .form-img svg {
    width: 400px;
  }
  body main .form .container .head-img {
    top: 880px;
  }
  body main .form .container .head-img svg {
    width: 70px;
  }
  body main .form .container .hand-img {
    top: 800px;
  }
  body main .form .container .hand-img svg {
    width: 280px;
  }
}/*# sourceMappingURL=web.css.map */